/* .Marker { 
    font-family: "Permanent Marker", cursive;
font-weight: 400;
font-style: normal;
} */
 .Neko{
font-family: 'Pusab', sans-serif;                                              
font-weight: 400;
font-style: normal;
color: #6495ED;
background-color: black;

 margin: 10px;
 border: 20px;
 height: 50px;
 width: 200px;
 }
.Marker{
  font-family: Spartan, sans-serif;
  color: #6495ED;
  
 /* background: linear-gradient(to bottom, white, black); */
}